*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --title-color: #212121;
  --subtitle-color: #757575;
  --hover-focus-color: #2196f3;
  --logo-color-light: #ffffff;
  --logo-color-dark: #000000;
}
.link:hover,
.link:focus {
  color: var(--hover-focus-color);
  cursor: pointer;
}
.nav-list .link.current {
  color: var(--hover-focus-color);
}
.link-color {
  color: var(--title-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
.link-decoration {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*хедер*/
.header {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .item + .item {
  margin-left: 50px;
}

.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-dark);

  margin: auto;
  margin-left: 15px;
  margin-right: 93px;
}
.logo-color {
  color: var(--hover-focus-color);
}
.nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  cursor: pointer;
}
.contacts-list {
  display: flex;
  margin: auto;
  margin-right: 0;
}
.contacts-list .item + .item {
  margin-left: 50px;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
/* МЕЙН */
/* Секция 1 */
.background {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  display: block;
  border: none;
  border-radius: 4px;
}
/* Секция 2 */
.list-advantages {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.hero-second-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 10px;
}
.hero-second-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  width: 270px;
}
/* Секция 3 */
.hero-title-s3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.image-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/* Секция 4 */
.hero-fourth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.list-users {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}
.users {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  width: 270px;
  height: 19px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.job-user {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  padding-bottom: 30px;
}
/* ФУТЕР */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-light);
}
.contacts-list-footer {
  padding-top: 20px;
  padding-left: 0;
}
.contacts-list-footer .item {
  padding-bottom: 9px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ПОРТФОЛИО */
/* Секция 1 */
/* КНОПКИ */
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: var(--hover-focus-color);
  cursor: pointer;
}
.list-btn {
  display: flex;
  justify-content: center;
}
.list-btn .item + .item {
  margin-left: 8px;
}
.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 22px;
  border: none;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background: #f5f4fa;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Секция 2 */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}
